@page
@model ConfirmationModel
@{
    ViewData["Title"] = "Confirm page";
}

<p class="text-success">Successfully saved</p>

<p>Book Name @Model.book.BookName</p>
<p>Author Name @Model.book.BookAuthor</p>