@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">
    <form method="post">
        <div class="form-group">
            <label for="a">Email address</label>
            <input asp-for="book.BookName" class="form-control" id="a" aria-describedby="emailHelp" placeholder="Enter Book Name"></input>
        </div>
        <div class="form-group">
            <label for="b">Password</label>
            <input asp-for="book.BookAuthor" class="form-control" id="b" placeholder="Enter Author Name"></input>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    @* <form method="post">
    <label>Book name </label>
    <input asp-for="book.BookName"></input>
    <br>
    <label>Author name</label>
    <input asp-for="book.BookAuthor"></input>
    <br>
    <button type="submit">Save</button>
    </form> *@





    @* @if (Model.LoginCheck)
    {
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p style="color:red;">Hello this is @Model.x</p>
    <p class="display-6">
    @(DateTime.Now)
    </p>
    <center>
    <table>
    @foreach (var week in Model.weeks)
    {
    <tr>
    <td>@week</td>
    </tr>
    }
    </table>
    </center>
    }
    else
    {
    <h1>Please Login!</h1>
    } *@

</div>
