@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="text-center">
    @if (Model.LoginCheck)
    {
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p style="color:red;">Hello this is @Model.x</p>
        <p class="display-6">
            @(DateTime.Now)
        </p>
        <center>
            <table>
                @foreach (var week in Model.weeks)
                {
                    <tr>
                        <td>@week</td>
                    </tr>
                }
            </table>
        </center>
    }
    else
    {
        <h1>Please Login!</h1>
    }

</div>
