@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a href="/AddEBook" class="link-underline-primary">Add an EBook</a>
 
</div>
