@page
@model CreateModel
@{
    ViewData["Title"] = "Create TODO Items";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div>
    <p>Create new TODO</p>
    <label>Title:</label>
    <input type="text"></input><br>
    <label>Is Completed:</label>
    <input type="checkbox"></input>
</div>
