@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="text-center"class="display-4">Yash Mistry's Car Rentals</h1>
    <p class="text-center">Mob no: +1 (911) 619 6199, Address: Kyoto St, Waterloo, ON, N2L 3V8</a>.</p>
    
    <div class="text-center">
        <form method="post" class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary">Reserve a Car</button>
        </form>
    </div>
    <br>
    <div class="text-center">
        <a href="/ExistingReservations" class="link-underline-primary">Show Existing Reservations</a>
    </div>
    <br><br>

    @* Car list in flex-box *@
    <div class="d-flex flex-column w-50 ">
        @* Error handling: if all cars are reserved *@
        @if (Model.cars.Count == 0){
            <p class="text-danger ">No cars available for reservation :(</p>
        }
        else{
            @foreach (var car in Model.cars){
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@car.car_Name</h5>
                        <p class="card-text">@car.car_Model</p>
                        <p class="card-text"><small class="text-muted"><a href="@car.car_Website" target="_blank" class="card-link">Get more details</a></small></p>
                    </div>
                </div>
            }
        }
    </div>
</div>
